HTTP_INGRESS=80
HTTP_INGRESS_2=443
COUCH_DB_PORT=5984
PIHOLE_PORT=8089

# Tailscale MagicDNS name. Caddy uses this as the site address and
# looks for certs at certs/${HOST}.crt and certs/${HOST}.key.
HOST=

CERT_DIR=
CADDY_CONTAINER=caddy
