
# CouchDB
humbertx-inspiron-15-3567.tail761986.ts.net:5984 {
    tls internal
    reverse_proxy obsidian-sync:5984
}

# Obsidian GUI
humbertx-inspiron-15-3567.tail761986.ts.net:3000 {
    tls internal
    reverse_proxy obsidian-brain:3000
}