
# CouchDB
{$HOST}:5984 {
	tls /etc/caddy/certs/{$HOST}.crt /etc/caddy/certs/{$HOST}.key
	reverse_proxy obsidian-sync:5984
}

# Pi-hole
{$HOST}:8089 {
	tls /etc/caddy/certs/{$HOST}.crt /etc/caddy/certs/{$HOST}.key
	reverse_proxy pihole:80
}
